* {
	font-size: 20px;
	font-family: "JetBrainsMono Nerd font";
}

window#waybar {
	background: #181825;
	color: #cdd6f4;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #181825;
}

#memory {
	color: #a6e3a1;
}
#cpu {
	color: #f38ba8;
}
#battery {
	color: #89dceb;
}
#disk {
	color: #fab387;
}
#wireplumber {
    color: #cba6f7;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#wireplumber {
	padding: 0 10px;
}
